@charset "utf-8";

@import url('lib/animated.css');
@import url('lib/jquery-ui-1.10.4.custom.min.css');
@import url('lib/swiper.css');
@import url('main.css');

@import url('jeon.css'); /* 임시 - 삭제예정 */

html,
body { 
    color: #666;
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
}

strong { font-weight: 500; } /* bold */
.hide {
	position: absolute;
	left: -9999px;
}

/* ==============================
 * skip navigation
 * ============================== */
#skipnav a {
    display:block;
    height:1px;
    width:1px;
    margin:0 -1px -1px 0;
    padding:0;
    overflow:hidden;
    font-size:1px;
    line-height:0;
}

#skipnav a:active,
#skipnav a:focus,
#skipnav a:hover {
    width:100%;
    height:auto;
    margin:0;
    padding:5px 0;
    text-indent:10px;
    font-weight:500;
    font-size: 13px;
    color:#333;
    line-height:1;
    text-decoration:none
}

/* ==============================
 * header
 * ============================== */
#headerWrap {
	position: relative;
    z-index: 100;
    width:100%;
    background: #fff;
}

#headerWrap .headerTopMenu {
	width: 100%;
	height: 45px; 
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
}

.headerTopMenu {
	position: fixed;
	top: 0;
	z-index: 100;
} /* 스크롤 시 추가 */

.headerTopMenu h1.logo {
    display: inline-block;
    position: absolute;
    top: 0;
    left: calc(50% - 45px); 
    width: 90px; 
    height: 45px;
    background: url('../images/common/logo.png') no-repeat;
    background-position-y: 50%; 
    background-size: 90px 22px;
    font-size: 0;
}
.headerTopMenu h1.logo a {
    display: block;
    height: 45px;
}
.headerTopMenu .mainTitle {
    color:#000;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 45px;
}
/* history back */
.headerTopMenu .back {
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:45px;
    height:45px;
    font-size:0;
}
.headerTopMenu .back:after {
    content:'';
    position: absolute;
    left: 15px;
    top: 16px;
    width:7px;
    height:13px;
    background:url('../images/common/btn/btn_history_back.png') no-repeat;
    background-size:100%;
}
/* 전체메뉴 */
.headerTopMenu .totalMenu {
    position:absolute; 
    top:0;
    right:0; 
    display:block;
    width:45px;
    height:45px; 
    font-size:0;
}
.headerTopMenu .totalMenu:after {
    content:'';
    display: block;
    position: absolute;
    right: 15px;
    top: 16px;
    width: 17px;
    height: 13px;
    background: url('../images/common/btn/btn_total_menu.png') no-repeat;
    background-size: 100%;
}

.headerTopMenu .cart {position:relative; top:12px; left:15px; display:block; width:23px; height:25px; background:url(../images/common/btn/btn_headerCart.png) no-repeat 0 0; background-size:17px 20px;}
.headerTopMenu .cart span {font-size:0;}
.headerTopMenu .cart span.cartNum {position:absolute; bottom:0; right:0; width:13px; height:13px; line-height:12px; background:#812990; border-radius:12px; color:#ffffff; font-size:9px; font-weight:bold; }

/* .headerTopMenu .history {position:absolute; top:15px; left:15px; font-size:0; display:block; width:15px; height:13px; background:url(../images/common/icon/icon_header_navi.png) no-repeat 0 0; background-size:45px 13px;} */
.headerTopMenu .closeBtn {position:absolute; top:15px; right:15px; font-size:0; display:block; width:13px; height:13px; background:url(../images/common/icon/icon_header_navi.png) no-repeat -32px 0; background-size:45px 13px;}
.headerTopMenu .btn {position:absolute; top:10px; left:15px;}

/* ==============================
* 전체메뉴
* ============================== */

body.noScroll { 
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%
} /* body 스크롤 막기 */

#gnb {
	position: fixed;
	z-index: 200;
}

.overlay {
	display: none;
	position: fixed; 
	top: 0;
	left: 0;
	right: 0; 
	bottom: 0;
	z-index: 200;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
}

.gnb {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	/* right: 0; */
	right:-100%; 
	z-index: 201; 
	width: 100%; 
	height: 100%;
}
.gnb .inner {
	/* overflow-y: auto; */
	position: relative;
	z-index: 201;
	height: 100%;
}
.gnb .closeTotalMenu {
	 display: block;
	 position:absolute;
	 top:0;
	 left:0; 
	 width:50px; 
	 height:45px;
	 font-size:0;
}
.gnb .closeTotalMenu:after {
	content:'';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 22px;
	height: 22px;
	margin: -11px 0 0 -11px; 
	background: url('../images/main/btn_closeMenu.png') no-repeat; 
	background-size:100%;
}
.navHead  {
	width:100%; 
	height: 108px;
	padding:0 0 0 50px;
	box-sizing:border-box;
}
.navHead .loginArea {
	box-sizing: border-box;
	position: relative; 
	height: 45px;
	padding: 10px 15px;
	background:#5f14ea;
	font-size: 0;
	text-align: right;
	vertical-align: middle;
}
.loginArea a {
	display: inline-block;
}
.loginArea .home {
	position:absolute;
	top: 0;
	left: 0;
	width: 45px;
	height: 45px;
	background: url('../images/main/btn_home.png') no-repeat 50%;
	background-size: 23px 20px;
	font-size: 0;
}
.loginArea .btn {display:inline-block;
	box-sizing: border-box;
	width: 70px;
	height: 25px;
	line-height: 23px;
	padding: 0;
	border: 1px solid #fff;
	border-radius: calc(25px / 2);
	background: transparent;
	color:#fff; 
	font-size: 12px;
	text-align: center;
}
.loginArea .btn.logout {
	background:#fff;
	color:#5f14ea;
}
.loginArea .btn + .btn { margin-left: 5px; } 

.navHead .menuArea {
	height: 63px;
	background:#3c079d;
}
.menuArea ul {
	display: flex;
	align-items: center;
}
.menuArea li {
	position: relative;
	width: 25%;
	height: 45px;
	text-align:center;
}
.menuArea li:not(:last-child):after {
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	right: 0;
	width: 1px;
	height: 45px;
	background: #6b36cb;
}
.menuArea a {
	position: relative;
	display: block;
	width: 100%;
	height: 63px;
	padding-top: 40px;
	color: #fff;
	font-size: 10px;
}
.menuArea span:after {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left: calc(50% - 20px);
	width: 40px; 
	height: 40px; 
	background-size: 40px 40px;
	background-position: 50%;
} 
.menuArea .cart:after { background-image: url('../images/common/icon/icon_cart.png'); }
.menuArea .delivery:after { background-image: url('../images/common/icon/icon_delivery.png'); }
.menuArea .item:after { background-image: url('../images/common/icon/icon_item.png'); }
.menuArea .payment:after { background-image: url('../images/common/icon/icon_payment.png'); }

.navBody {
	overflow-y: auto;
	display: flex;
	position: relative;
	/* width: 100%; */
	height: calc(100% - 173px);
	background: #fff;
	margin-left: 50px;
}

.navBody .nav {
	box-sizing: border-box;
	position: relative;
	width: 100px;
	height: 100%;
	background:#f3f3f3;
}
.dep1 { width: 100px; }
.dep1 > li {
	width: 100px;
	background: #f3f3f3;
}
.dep1 > li a {
	box-sizing: border-box;
	display: block;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	color: #000;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
}
.dep1 > li.on {
	position: relative;
	background: #fff;
	/* box-shadow: 1px 2px 3px rgba(0,0,0,.5); */
}
.dep1 > li.on:after {
	content: '';
	display: block;
	position: absolute;
	top: calc(50% - 5px);
	right: 5px;
	width: 6px;
	height: 10px;
	background:url('../images/common/arrow_right.png') no-repeat;
	background-size: 100%;

}
.dep1 > li.on > a {
	color: #812990;
	font-weight: 700;
}

/* 2depth */
.subnav {
	flex: 1;
	padding: 0 15px;
	background: #fff;
}
.dep2 {
	display: none;
	background: #fff;
}
.dep2.on {display: block;}
.dep2 > li {
	box-sizing: border-box;
	height: 40px;
	border-bottom: 1px solid #e4e4e4;
}
.dep2 > li > a {
	position: relative;
	display: block;
	height: 40px;
	line-height: 40px;
	padding-left: 12px;
	color: #575757;
	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
}
.dep2 > li > a:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 5px;
	width: 2px;
	height: 2px;
	background: #ccc;
}

.dep2 > li.on > a {
	color: #812990; 
}

.navFoot {
	box-sizing: border-box; 
	position: bottom;
	right: 0;
	/* right: auto; */
	bottom: 0;
	width: 100%;
	height: 65px;
	margin-left: 50px;
	border-top: 1px solid #d5d5d5;
	background:#fff;
	text-align: center;
}
.navFoot p {
	margin-left: -50px;
	font-size: 10px;
}
.navFoot .csInfo { 
	padding: 15px 0 8px;
	color:#000;
	font-size: 11px;
	font-weight: 500;
}
.navFoot .csInfo .num {
	display: inline-block;
	margin-top: -3px;
	color: #812990;
	font-size: 15px;
	font-weight: 700;
	vertical-align: middle;
}
.navFoot .csInfo .num:before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 15px;
	margin: 0 2px;
	background: url('../images/common/icon/icon_tel4.png') no-repeat;
	background-size: 100%;
	vertical-align: -2px;
}

/* ==============================
* footer
* ============================== */
#footerWrap {/* position: absolute; bottom: 0;*/ width:100%; padding:0 15px 20px; background-color:#222; }
.footerTop { padding: 20px 0; }
.footerTop .footerLink { width:100%; text-align:center; }
.footerTop .footerLink a { display: inline-block; color:#a4a4a4; font-size: 12px; }
.footerTop .footerLink a:nth-child(2) { padding: 0 20px;}
.footerTop .footerLink a:nth-child(2):before,
.footerTop .footerLink a:nth-child(2):after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 9px;
	background: #444;
	vertical-align: middle;
}
.footerTop .footerLink a:nth-child(2):before { margin-right: 20px; }
.footerTop .footerLink a:nth-child(2):after { margin-left: 20px; }
.footerTop .footerLink a.etc { color:#fff; }
.footerBottom { padding: 20px 0; border-top: 1px solid #444; border-bottom:1px solid #444; }
.footerBottom p, address { font-size: 11px; }
.footerBottom p span { display: inline-block; padding-top: 10px; }
.footerBottom span:not(:last-child):after { 
	content:'';
	display: inline-block;
	width: 1px;
	height: 9px;
	margin: 0 6px 0 8px;
	background: #444;
	vertical-align: -1px;
}
.copyright { margin-top:20px; font-size: 11px; }

/* ==============================
* Top버튼
* ============================== */
.btnGoTop {
    position: fixed;
    right: 15px;
    bottom: 0;
	z-index: 50;
	opacity: 0;
	transition: all 0.4s linear;
}
.btnGoTop a {
	display:block;
    width: 36px; 
    height: 37px; 
    background: url('../images/common/btn/btn_top.png') no-repeat;
	background-size: 100%;
	font-size: 0;
}
.btnGoTop.active {
	bottom: 60px;
	visibility: visible;
    opacity: 1;
}

/* ==============================
* 하단 플로팅 메뉴
* ============================== */
.floatingWrap {
	position: fixed;
	z-index: 150;
	box-sizing: border-box;
	width: 100%;
	height: 45px;
}
.fixBotNav {
	position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 150;
	transition: all 0.4s linear;
} 

.floatingMenu {
	background: #fff;    
	border-top: 1px solid #dcdcdc;
}
.floatingMenu ul {
	display: flex;
	justify-content: space-between;
}
.floatingMenu li { width: 20%; }
.floatingMenu li:nth-child(2),
.floatingMenu li:nth-child(4) { width: 30%; }

.floatingMenu li a {
	position: relative;
	box-sizing: border-box;
	display: block;
	height: 45px;
	padding-top: 30px;
	font-size: 8px;
	text-align: center;
}
.floatingMenu span:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: calc(50% - 15px);
	width: 30px;
	height: 30px;
	background-size: 100%;
}
.floatingMenu .mypage span:after { background-image: url('../images/common/icon/icon_floating_mypage.png'); }
.floatingMenu .rental span:after { background-image: url('../images/common/icon/icon_floating_rental.png'); }
.floatingMenu .consult span:after { background-image: url('../images/common/icon/icon_floating_consult.png'); }
.floatingMenu .store span:after { background-image: url('../images/common/icon/icon_floating_store.png'); }

/* 메뉴 레이어 */
.floatingCont {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 200;	
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	transition: all 0.4s linear;
}
.floatingCont ul { 

	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 45px;
	background: url('../images/common/bg_dashed.png') repeat-x left bottom;
	background-size: 6px 1px;
}
.floatingCont ul li a {
	box-sizing: border-box;
	position: relative;
	display: block;
	height: 52px;
	line-height: 52px;
	padding-left: 32px;
	color: #fff;
	font-size: 13px;
}
.floatingCont .btnClose {
	position: absolute;
	bottom: 12px;
	width: 22px;
	height: 22px;
	background: url('../images/common/btn/btn_close_floating.png') no-repeat;
	background-size: 44px 22px;
	background-position: 0 0;
	font-size: 0;
}
.floatingCont .btnClose:focus, 
.floatingCont .btnClose:active { background-position: -22px 0; }

/* 나의정보 */
.floatingCont.mypage ul { padding-left: 24px; }
.floatingCont.mypage li a:after {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: calc(50% - 12px);
	width: 22px;
	height: 24px;
	background: url('../images/common/icon/icon_floating1.png') no-repeat;
	background-size: 22px 268px;
}
.floatingCont.mypage li:nth-child(1) a:after { background-position: 0 0; } 
.floatingCont.mypage li:nth-child(2) a:after { background-position: 0 -50px; } 
.floatingCont.mypage li:nth-child(3) a:after { background-position: 0 -102px; } 
.floatingCont.mypage li:nth-child(4) a:after { background-position: 0 -152px; } 
.floatingCont.mypage li:nth-child(5) a:after { background-position: 0 -203px; } 
.floatingCont.mypage .btnClose { left: 24px;}

/* 상담하기 */
.floatingCont.consult ul { padding-left: calc(50% + 24px); }
.floatingCont.consult li a:after {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: calc(50% - 12px);
	width: 22px;
	height: 24px;
	background: url('../images/common/icon/icon_floating2.png') no-repeat;
	background-size: 22px 230px;
}
.floatingCont.consult li:nth-child(1) a:after { background-position: 0 0; } 
.floatingCont.consult li:nth-child(2) a:after { background-position: 0 -50px; } 
.floatingCont.consult li:nth-child(3) a:after { background-position: 0 -102px; } 
.floatingCont.consult li:nth-child(4) a:after { background-position: 0 -152px; } 
.floatingCont.consult li:nth-child(5) a:after { background-position: 0 -203px; } 
.floatingCont.consult .btnClose { left: calc(50% + 24px); }


/* ==============================
* 팝업
* ============================== */
.popup { width: 100%; }
.popup .popHead {
	position: fixed;
	top: 0;
	z-index:2;
	width: 100%;
    height: 45px; 
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
}
.popHead .mainTitle {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 45px;
}
.popHead .btnClose {
    position:absolute;
    top: 0;
    right: 0;
    display: block;
    width: 45px;
    height: 45px;
    font-size: 0;
}
.popHead .lBtn {
    position: absolute;
    top: 10px; 
    left: 15px;
}
.popHead .btnClose:after {
    content:'';
    position: absolute;
    right: 15px;
    top: 16px;
    width: 13px;
    height: 13px;
    background: url('../images/common/btn/btn_close_popup.png') no-repeat;
    background-size: 100%;
}
.popContent {
	margin-top: 45px;
    padding: 20px 15px 50px;
}
.popContent .btnArea {
    margin-top: 20px; 
    text-align: center;
}

/* .popContent .contTitle { padding: 0; } */

/* ==============================
*  에러페이지
* ============================== */
body.errorPage {
	display: flex;
	flex-direction:column;
	min-height: 100vh;
}
.errorPage .logo {
	width:100%;
	height:55px;
	background:#812990 url('../images/common/logo2.png') no-repeat 50%;
    background-size: 90px 22px;
    font-size: 0;
}

.errorMessage {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	margin: 0 15px;
	text-align: center;
	border-bottom: 1px solid #dcdcdc;
}
.errorMessage .mainText {
	padding-top: 90px;
    color:#525797;
    font-size:17px;
    font-weight:500;
}
.errorMessage .subText {margin-top:30px;font-size:13px;}

.error404 {
    background: url('../images/common/icon/icon_error1.png') no-repeat 50% top;
    background-size: 75px 75px;
}
.error500 {
    background: url('../images/common/icon/icon_error2.png') no-repeat 50% top;
    background-size: 75px 75px;
}
.errorPage .btnArea {
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    text-align: center;
} 
.errorPage .btnArea .btn { width: 140px; flex: none; }

/* ==============================
* 타이틀
* ============================== */

.headTitle {
    margin: 30px 0 15px;
    padding-bottom: 10px;
    color:#000;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 1px solid #dadada;
}
.headTitle:first-child { margin-top: 0; }
.headTitle.noline { padding-bottom:0; border: none; }
.headTitle + .table { margin-top: -5px; }

.headTitle2 {
    margin-top: 20px;
    padding-bottom: 5px;
    color:#000;
    font-size: 13px;
    font-weight: 500;
}

.headSubBtn {
	margin-top: -35px;
	margin-bottom: 10px;
	text-align: right;
	vertical-align: top;
}


/* ==============================
* 버튼
* ============================== */
.btn {
	box-sizing: border-box;
    display: inline-block;
    /* min-width: 75px; */
    height: 35px;
	line-height: 33px;
	padding: 0 15px;
	vertical-align: middle;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #fff;
	white-space: nowrap;
	background: #555;
	border: 1px solid #555;
	border-radius: 2px;
    cursor: pointer;
}

/* .btn:focus,
.btn:active { color:#666; } */
/* .btn:hover,
.btn:focus,
.btn:active,
.btn:link,
.btn:visited { color:#fff; } */

.btn.block { width: 100%; } /* full */

.btn:focus span,
.btn:active span {
    position: relative;
    top: 0;
    left: 0;
}

/* 배경 full, 강조버튼  */
.btn.primary {
    border-color: #812990;
    background-color: #812990;
    color: #fff;
}
.btn.primary:disabled, 
.btn.primary[disabled] {
    border-color: #5a1d66;
    background-color: #5a1d66;
    color: #7f7f7f;
}
.btn.point {
    border-radius: inherit;
    border-color: #b6985a;
    background-color: #b6985a;
}
.btn.bgGray {
    border-radius: inherit;
    border-color: #888;
    background-color: #888;
}

/* 보더 있는 버튼 */
.btn.light {
    border-color: #666;
    background-color: #fff;
    color: #666;
}
.btn.light.primary {
    border-color: #812990;
    background-color: #fff;
}

.btn.round {
    border-radius: calc(70px / 2);
}

.btn.xsmall {
    height: 20px;
	line-height: 18px;
	padding: 0 8px;
    font-size: 11px;
}
.btn.small {
    height: 24px;
    line-height: 22px;
    font-size: 11px;
}
.btn.small.round {
    border-radius: calc(24px / 2);
}

.btn.large {}

a.btn { text-decoration: none !important; }

/* 버튼 내부 아이콘 button > span 클래스 지정  */
.innerIcon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

/* 자세히보기 */
.innerIcon.view:before,
.innerIcon.search:before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 3px;
    background: url('../images/common/icon/icon_inner_view.png') no-repeat;
    background-size: 100%;
    vertical-align: -1px;
}
/* 전화 */
.innerIcon.call:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 14px;
    margin-right: 5px;
    background: url('../images/common/icon/icon_inner_call.png') no-repeat;
    background-size: 100%;
    vertical-align: top;
}
/* 상담 */
.innerIcon.consult:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 15px;
    margin-right: 5px;
    background: url('../images/common/icon/icon_inner_consult.png') no-repeat;
    background-size: 100%;
    vertical-align: top;
}
/* 차량추가 */
.innerIcon.add:after {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 5px;
    background: url('../images/common/icon/icon_inner_add.png') no-repeat;
    background-size: 100%;
    vertical-align: 0;
}
/* 삭제 */
.innerIcon.del {vertical-align: 0;}
.innerIcon.del:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    background: url('../images/common/icon/icon_inner_add.png') no-repeat;
    background-size: 100%;
    vertical-align: 0;
}

/* 멤버십-자세히보기*/
.btnLink {
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    line-height: 28px;
    padding: 0 30px;
    border-radius: 30px;
    border: 1px solid #454545;
    background: #fff;
    color: #252525;
    font-weight: 500;
}
.btnLink span {
    display: inline-block;
    padding-left: 18px;
    background: url('../images/common/icon/icon_link.png') no-repeat;
    background-size: 13px 13px;
}

.btnArea {
    display: flex;
    justify-content: space-between;
    margin-top: 15px
}
.btnArea .btn { flex: 1; }
.btnArea .btn + .btn { margin-left: 5px; }
.btnArea.single {justify-content: center;}
.btnArea.single .btn {flex: 0.5;}

/* 타이어 */
.btnAction {
	box-sizing: border-box;
    display: inline-block;
	width: 100%;
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	vertical-align: middle;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	white-space: nowrap;
	background: #5f14ea;
    cursor: pointer;
}

.btnAction.primary {
	background-color: #3c079d;
}

.pageFoot { display: flex; }
.pageFoot .btnAction { flex: 1; }

.btnAction  .btnSearch {
	display: inline-block;
}
.btnAction  .btnSearch:before {
	content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 3px;
    background: url('../images/common/icon/icon_inner_search.png') no-repeat;
    background-size: 100%;
    vertical-align: -3px;
}
.btnAction.block { display: block; }



