@charset "utf-8";

 /* ==============================
 * main
 * ============================== */
 /* 띠배너 */
 .topBanner {
	 display: none;
	 position: relative;
	 height: 50px;
	 background: url('../images/main/bg_topBanner.jpg') no-repeat;
	 background-size: 100%;
 }
 .topBanner .btnClose {
	position: absolute;
	top:0;
	right:0;
	width: 50px;
	height: 50px;
	background: url('../images/main/btn_closeMenu.png') no-repeat 50%;
	background-size: 16px 16px;
	font-size: 0;
 }
 .topBanner .notiList {height:50px;}
 .topBanner .notiList li {
	 padding: 18px 50px 0 25px;
	 text-align: center;
	 color:#fff;
	 font-size: 15px;
	 font-weight: 500;

	 overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
 }

 
 



 /* 공통 */
 #mainWrap {padding-top:45px;}

 /* 타이어 찾기 */
 #mainWrap .findTire {min-height:473px; background:url(../images/main/bgMainTop.jpg) no-repeat 0 0; background-size: cover; padding:15px;}
 #mainWrap .findTire .findTireOpt p.tit {margin-top:30px; font-family: 'Raleway'; font-size:23px; font-weight: 800; color:#fff; text-align: center;}
 #mainWrap .findTire .findTireOpt p.tit + p {margin-top:12px; font-size:12px; font-weight: 200; color:#fff; text-align: center;}
 #mainWrap .findTire .findTireOpt p.tit + p + p {margin-top:15px; font-size:12px; font-weight: 300; color:#fff; text-align: center; line-height:17px;}
 /* 서비스 플로우 */
 #mainWrap .serviceFlow {background:#f5f5f5}
 #mainWrap .mainTitle .tit {color:#000000; font-size:20px; font-weight:400; text-align: center; line-height:27px;}
 #mainWrap .mainTitle .txt {color:#666666; font-size:12px; font-weight:400; text-align: center; line-height:15px; margin-top:3px;}
 #mainWrap .mainTitle .txt .ty1 {font-weight:500; color:#c3244e;}
 
 /* 공지사항 및 이벤트 */
 #mainWrap .secEvent {} 


 .mainContent { padding-top: 45px;}
 .maintemp {
	 width: 100%;
	 height: 100%;
	 background: url('../images/main/temp_main.png') no-repeat / cover;
 }
 
