@charset "utf-8";

/* ==============================
* popup - 렌탈전문점 찾기
* ============================== */
.popRentalStore { position:fixed; top:0; bottom:0; left:0; right:0;  }
.popRentalStore .popHead { position: fixed; z-index: 100; width: 100%; height: 45px; background: #fff; }
.popRentalStore .popContent { overflow: auto; height:100%; margin:0; padding: 45px 0 0; }
.popRentalStore .lBtn .btn { width: 65px; min-width: inherit; padding: 0; }
.popRentalStore .lBtn .btn.light.primary  { color:#812990; border-color:#812990; }

.popRentalStore .popContent .contWrap  { padding: 20px 15px 50px; }
/* .popRentalStore .popContent .searchShop { position: fixed; }
.popRentalStore .popContent .searchShop + .contWrap { padding: 35px 15px 50px; } */
.popRentalStore .popContent .mapArea { width:100%;  height:100%; }
.popRentalStore .popContent .mapArea img {width:100%;}
.popRentalStore .popContent .storeInfo .addInfo .btns .btn.light { color: #666; }

.fixedBottom {position:fixed; bottom:0; left:0; z-index:5; width:100%; background:#ffffff; box-shadow: 0px 0px 6px 2px #c7c7c7;}
.fixedBottom .storeInfo dl { padding: 20px 15px 15px; }

.storeInfo dl { padding: 15px 15px;}
.storeInfo dt {
	position:relative;
	color:#000;
	font-weight:500;
	font-size:14px;
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: normal; 
	word-wrap: break-word; 
	display: -webkit-box; 
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.storeInfo dt {padding-right:45px;}
.storeInfo dt .distance {
	position:absolute;
	top:2px;
	right:0;
	border-bottom:1px solid #812990; 
	color:#812990;
	font-size:11px;
	font-weight:300; 
	line-height: 1.3;
}
.storeInfo dd {padding-top:12px;}
.storeInfo dd .storeAddress {margin-bottom:6px; font-size:12px; color:#666666;}


.iconGroup {font-size: 0;}
.iconGroup li { display: inline-block; margin: 2px 5px 2px 0;} 
.serviceIcon {
	display:inline-block;
	position: relative; 
	min-width:30px;
	padding-top:35px;
	font-size:8px;
	text-align:center; 
	vertical-align: top;
}
.serviceIcon.ty1 {color:#b6985a;}
.serviceIcon:after {
	content:'';
	position:absolute;
	top:0;
	left:50%; 
	width:30px;
	height:30px;
	margin-left:-15px;
	background: url('../images/common/icon/icon_service.png') no-repeat 0 0;
	background-size: 205px 30px;
}
.serviceIcon.ty1:after {background-position:0 0;} /* 추천 */
.serviceIcon.ty2:after {background-position:-35px 0;} /* 타이어 */
.serviceIcon.ty3:after {background-position:-70px 0;} /* 세차 */
.serviceIcon.ty4:after {background-position:-105px 0;} /* 일급정비 */
.serviceIcon.ty5:after {background-position:-140px 0;} /* 경정비 */
.serviceIcon.ty6:after {background-position:-175px 0;} /* 겨울용 */

.storeInfo .addInfo { 
	position: relative;;
	display: flex;
	align-items: center;
	height: 45px;
	padding: 0 15px;
	border-top:1px solid #dadada; 
	background:#f8f8f8;
}
.storeInfo .addInfo .txtTel {
	display: inline-block;
	padding-left: 12px;
	background: url('../images/common/icon/icon_tel4.png') no-repeat;
	background-size: 10px 15px;
	background-position: left 50%;
	font-weight: 500;
	text-decoration: none;
}
.storeInfo .addInfo .btns {position:absolute; top: 10px; right: 15px; font-size:0;}
.storeInfo .addInfo .btns .btn { width: 60px; min-width: inherit; padding: 0;}
.storeInfo .addInfo .btns .btn + .btn {margin-left: 5px;}

.searchShop {position: fixed; width: 100%; z-index: 2; }
.searchShop .searchWrap {background:#fafafa; border-bottom:1px solid #a9a9a9; padding:20px 15px 18px 15px;}
.searchShop .searchWrap > dl {display:table; width:100%; margin:0 0 5px 0;}
.searchShop .searchWrap > dl:nth-child(4) { margin-bottom:10px;}
.searchShop .searchWrap > dl dt {display:table-cell; width:27%; font-size:12px; font-weight:500; color:#333333;  vertical-align: middle;}
.searchShop .searchWrap > dl dd {display:table-cell;}
.searchShop .searchWrap > dl dd select {width:100%;} 
.searchShop .btnTogl {position:absolute; top:100%; left:50%; margin-left:-22px; margin-top:0px; cursor:pointer; display:block; font-size:0; width:44px; height:16px; background:url(../images/common/btn/bg_btn2.png) no-repeat 0 0; background-size:44px 32px; }
.searchShop .btnTogl.on {background-position:0 -16px; margin-top:-1px;}

.searchShop + .contWrap { margin-top: 240px; padding: 35px 15px 50px !important; }
.searchShop.close + .contWrap { margin-top: 0; padding: 35px 15px 50px; }

.rentalShopList li:not(:first-child) { margin-top: 10px;}
.rentalShopList .storeInfo {border: 1px solid #d5d5d5;}
.rentalShopList .storeInfo .addInfo { border-top: 0; }
.rentalShopList .noResult { border: none; padding: 50px 0; text-align: center; }
.rentalShopList .noResult:before { content: ''; display: block; width: 70px; height: 70px; margin: 0 auto 15px;  background: url('../images/common/icon/icon_noresult.png') no-repeat; background-size: 100%; }


/*매장위치 슬라이드*/
.storeSlideWrap { position: relative; height: 340px; width: 100%;}

.storeSlideWrap .mapArea { display: none; position: absolute; top: 0; left: 0; z-index: 50; overflow: hidden; box-sizing: border-box; height: 280px !important; border: 1px solid #d5d5d5; }
.storeSlideWrap .mapArea.on { display: block;}

.storeView { height: 280px;  border: 1px solid #d5d5d5; text-align: center; }
.storeView.on { display: block; }
.storeView .swiper-slide { display: flex; align-items: center; justify-content: center; }
.storeView img { vertical-align: middle; max-width: 100%; max-height: 100%; }

.storeThumbs { position: relative; height: 50px; margin: 10px 0 0; }
.storeThumbs:before { content:''; position: absolute; top:0; left:-15px; z-index: 5; width: 15px; height: 50px; background: #fff;}
.storeThumbs:after { content:''; position: absolute; top:0; right:-15px; z-index: 5; width: 15px; height: 50px; background: #fff;}
/* .storeThumbs .swiper-wrapper { overflow: hidden; } */
.storeThumbs .swiper-slide { box-sizing: border-box; border: 1px solid #d5d5d5;	width: 33%;	height: 50px; text-align: center; }
.storeThumbs .swiper-slide img { max-width: 100%; max-height: 100%; }
.storeThumbs .swiper-slide-thumb-active { border: 1px solid #812990; opacity: 1; }
.storeThumbs .swiper-slide.first.swiper-slide-thumb-active { } 

.storeSlideWrap .swiper-button-next, 
.storeSlideWrap .swiper-button-prev { position:absolute; top: auto; bottom: 5px; z-index: 3; width:20px; height:40px; margin-top: -20px; overflow:hidden; background: url('../images/common/btn/btn_visualList.png') no-repeat 0 0; background-size:40px 40px;}
.storeSlideWrap .swiper-button-prev {left: -15px; background-position:0px 0px;}
.storeSlideWrap .swiper-button-next {right: -15px; background-position:-20px 0px;}
.storeSlideWrap .swiper-button-next.swiper-button-disabled, 
.storeSlideWrap .swiper-button-prev.swiper-button-disabled { opacity:0.3; cursor:auto;  pointer-events:none; }

.storeView .swiper-slide.noimg, 
.storeThumbs .swiper-slide.noimg { background: #f5f5f5 url('../images/common/img_null_s.png') no-repeat 50%; }
.storeThumbs .swiper-slide.noimg { background-size: contain; }

.storeName {display: flex; align-items: center;}
.storeName .serviceIcon { flex-basis: 30px; margin-right: 10px; }
.storeAddress {margin-bottom: 5px; }
.operationHour .week {display:inline-block; width:45px; color:#000; } 

/* ==============================
* popup - 우편번호 검색
* ============================== */
.popZipcode {}
.popZipcode .popContent { padding: 0; }

.zipcodeWrap  { height: 100%; }
.zipcodeWrap .searchArea {padding: 15px; background: #fafafa; }
.zipcodeWrap .searchArea .ex { position: relative; margin-top: 10px; padding-left: 18px; line-height: 1.4;}
.zipcodeWrap .searchArea .ex:before { content:'예)'; display: block; position: absolute; top: 0; left: 0; }
.zipcodeWrap .searchResult { margin-top: 20px; padding: 0 15px; }
.zipcodeWrap .searchResult .noResult { border: none; margin-top: -20px; padding: 150px 0; text-align: center; }
.zipcodeWrap .searchResult .noResult:before { content: ''; display: block; width: 70px; height: 70px; margin: 0 auto 15px;  background: url('../images/common/icon/icon_noresult.png') no-repeat; background-size: 100%; }
.zipcodeWrap .searchResult .noResult.address:before { content: ''; display: block; width: 70px; height: 70px; margin: 0 auto 15px;  background: url('../images/common/icon/icon_addr.png') no-repeat; background-size: 100%; }

.zipcodeList { border-top: 2px solid #000; border-bottom: 1px solid #dadada; }
.zipcodeList li { padding: 20px 0; cursor: pointer; }
.zipcodeList li:not(:first-child) { border-top: 1px solid #dadada; }
.zipcodeList .zipcode { color: #333; font-size: 14px; font-weight: 500; }
.zipcodeList .address { position: relative; padding-left: 55px; line-height: 20px;}
.zipcodeList .address .label { position: absolute; top: 0; left: 0; box-sizing: border-box; display: inline-block; width: 50px; height: 20px; margin-right: 5px; border: 1px solid #c5c5c5; border-radius: 2px; background: #fff; line-height: 18px; font-size: 11px; text-align: center; }
.zipcodeList .addr1 { margin: 15px 0 10px; }
.zipcodeList .addr1 .label { border-color: #555; background: #555; color: #fff; }

/* ==============================
* popup - 계약확인
* ============================== */
.popContract {}
.contractList .contractInfo:not(:first-child) { margin-top: 5px; }
.contractInfo { border: 1px solid #e1e1e1; border-radius: 3px; }
.contractInfo.on { border: 1px solid #812990; box-shadow: 0 2px 3px rgba(229,229,229,1); }
.contractInfo .top { background: #eee; padding: 0 15px; line-height: 50px;}
.contractInfo .tit { color: #000; font-size: 14px; line-height: 50px; }
.contractInfo .info { padding: 20px 15px; }
.contractInfo .info dl { display: flex; justify-content: space-between }
.contractInfo .info dl:not(:first-child) { margin-top: 10px; }
.contractInfo .info dt { color: #333; }
.contractInfo .info dd { color: #454545; text-align: right; }
.contractInfo .prdCate { color: #812990; font-weight: 500; }

/* ==============================
* popup - 멤버십 상세보기
* ============================== */
.popMembership {}
.popMembership .optList dd { margin-top: 10px;}
.serviceList { border: 1px solid #c8c8c8; border-radius: 3px; box-shadow: 0 2px 3px rgba(229,229,229,1); }
.serviceList li { display: flex; align-items: center;  }
.serviceList li:not(:first-child) { border-top: 1px solid #dadada; }
.serviceList .tit { box-sizing: border-box; flex-basis: 60%; height: 45px; line-height: 45px; padding: 0 15px; background: #feefef; color: #333; font-weight: 500; }
.serviceList .desc { flex: 1; height: 45px; padding: 0 15px; line-height: 45px; text-align: center; }

/* ==============================
* 레이어팝업 - 이미지 크게보기
* ============================== */
.layerPop.imgView { top: 0; padding: 0; height: 100%; }
.layerPop.imgView .layerPopHeader {  position: relative; border-bottom: 1px solid #dcdcdc; border-top-left-radius: 0; border-top-right-radius: 0; background: #fff; text-align: center; }
.layerPop.imgView .layerPopHeader .title { color: #000; font-size: 15px; font-weight: 500; height: 45px; line-height: 45px;}
.layerPop.imgView .closeBtn { position:absolute; top: 0; right: 0; display: block; width: 45px; height: 45px; font-size: 0; }
.layerPop.imgView .closeBtn:after { content:''; position: absolute; right: 50%; top: 50%; width: 13px; height: 13px; margin: -7px 0 0 -6px; background: url('../images/common/btn/btn_close_popup.png') no-repeat; background-size: 100%; }
.layerPop.imgView #layerPopCont { height: calc(100% - 46px); }
.layerPop.imgView .layerPopWrap { box-sizing: border-box; height: 100%; padding: 20px 15px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.layerPop.imgView .imgViewArea { overflow: auto; }


/* ==============================
* 모달팝업 스타일
* ============================== */

.ui-front { z-index: 200; }

/* Overlays */
.ui-widget-overlay { position: fixed; top: 0; bottom: 0; left: 0; right: 0;	background: rgba(0,0,0,.8);	opacity: unset;	overflow-y: hidden; }
.ui-widget-shadow { /*-webkit-box-shadow: 0px 0px 5px #666666; box-shadow: 0px 0px 5px #666666;*/ }

.ui-dialog { /*overflow: hidden;*/ position: fixed !important; top: 0 !important;	bottom: 0;	left: 0; right: 0; width: 100% !important; padding: 0; outline: 0; border-radius: 0; color: #666; font-family: 'Noto Sans', sans-serif; }

/* header - 비노출 */
.ui-dialog .ui-dialog-titlebar { position: relative; z-index: 200; /* height: 45px; */	padding: 0;	border: 0;	border-radius: inherit;	background: #fff; text-align: center; }
.ui-dialog .ui-dialog-title { display: none; width: 100%; margin: 0; border: 0; /* border-bottom: 1px solid #dcdcdc; */ color: #000; font-size: 15px; font-weight: 500; text-align: center; line-height: 45px; white-space: nowrap;	overflow: hidden; text-overflow: ellipsis; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 0;	top: 0;	width: 45px; /* height: 44px; */ height: 0;	margin: 0;	padding: 0; border: none; border-radius: inherit; background: #fff;	font-size: 0; }
.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:active { background: #fff; border: none; }
.ui-dialog .ui-dialog-titlebar-close .ui-icon { position: absolute; right: 50%; top: 50%; width: 13px; /* height: 13px; */ height: 0; margin: -6px 0 0 -6px; background: url('../images/common/btn/btn_close_popup.png') no-repeat; background-size: 100%; }

/*contents*/
.ui-widget-content { border: none; }
.ui-widget-content a { color: #666; }

.ui-dialog-content { overflow: auto; position: relative; z-index: 200; width: 100%; height: 100%; min-height: 100%; padding: 0 !important; border: 0; background: #fff; }
.ui-dialog-content .popup { position:fixed; }
.ui-dialog-content .popHead { position:fixed; }
.ui-dialog-content .popHead .lBtn { position: absolute; top: 10px; left: 15px; }
.ui-dialog-content .popHead .lBtn a { color: #fff; }
.ui-dialog-content .popContent { overflow: auto; -webkit-overflow-scrolling: touch;  }
.ui-dialog-content .popContent .btn { color: #fff; }
.ui-dialog-content .popContent .btn[disabled] { color: #7f7f7f; }
.ui-dialog-content .dim { background: rgba(0,0,0,0) !important; }

/* reset */
.ui-resizable-handle { display: none !important; }

/* 풀팝업 모달 */
.fullPop.ui-dialog { position: fixed !important; top: 0 !important; height: 100% !important; }
.fullPop.ui-dialog html, 
.fullPop.ui-dialog body { height:100%; }
.fullPop.ui-dialog .ui-dialog-content { height: 100% !important; }
.fullPop.ui-dialog .popup { position: fixed; top: 0; bottom: 0; left: 0; right: 0; }
.fullPop.ui-dialog .popContent { height:100%; margin:0; padding-top:45px; overflow: auto; -webkit-overflow-scrolling: touch;  }

/* 딤레이어 모달 */
.dimPop.ui-dialog { position: fixed !important; top: 0 !important; height: 100% !important; background: transparent !important; }
.dimPop.ui-dialog html, 
.dimPop.ui-dialog body { height:100%; }
.dimPop.ui-dialog .ui-dialog-content { height: 100% !important; background: transparent !important; }

/* ==============================
* 모달 UI 내 팝업스타일 제어  
* ============================== */
#popupFrame { height: 100%; }

/* 렌탈전문점 찾기 */
.ui-dialog.rentalmap { position:fixed !important; top:0 !important; height:100%; }
.ui-dialog.rentalmap html, 
.ui-dialog.rentalmap body {height:100%;}
.ui-dialog.rentalmap .ui-dialog-content {height:100% !important; -webkit-overflow-scrolling: touch;  }

