@charset "utf-8";


/* ==============================
 * common - 컨텐츠 공통
 * ============================== */
#wrap {min-width:1200px; max-width:1980px; margin:0 auto;}


#content {width:1200px; margin:0 auto;}
#content:last-of-type {padding-bottom:140px;}

/* 텍스트 */
.sectionTitle {text-align:center; font-weight:normal; font-size:40px; color:#353535;}
.sectionTitle + .tabWrap {margin-top:35px;}

.subTitle {text-align:center; font-weight:normal; font-size:24px; color:#454545;}
.subTitle + .blTxt1 {margin-top:35px;}
.subTitle + .list3 {margin-top:35px;}
.subTitle + .table {margin-top:38px;}


/* location */
.location {width:1200px; margin:0 auto; padding-top:13px; font-size:0; vertical-align:middle;}
.location > span.home {position:relative; top:2px; text-indent:-999px; overflow:hidden; width:20px; height:17px; background:url(../images/common/icon/icon_home.png) no-repeat;}
.location > span {display:inline-block; font-size:14px; color:#999;}
.location > span:last-child {color:#666;}
.location > span + span {padding-left:16px; margin-left:11px; background:url(../images/common/icon/icon_next.png) no-repeat left center;}
.location + #content > .sectionTitle {margin-top:33px;}


/* input */
.inputBox {position:relative; display:inline-block;}
.inputBox .inp {display:block; width:100%; height:36px; padding:0 10px; border:1px solid #d5d5d5; font-size:14px; outline:0; transition: all .3s ease;}
.inputBox .inp:disabled {background:#eee; color:#b5b5b5;}
.inputBox .inp:focus {border:1px solid #812990;}
.inputBox .inp.error {border:1px solid #c3244e;}


/* checkbox */
.checkbox {display:inline-block; position:relative; min-height:24px; padding:2px 0 0 35px;}
.checkbox input { position:absolute; top:0; left:0; z-index:1; opacity:0;}
.checkbox label {font-size:16px; color:#666; cursor:pointer;}
.checkbox label:after { content:''; display:block; position:absolute; top:0px; left:0; width:24px; height:24px; background:url('../images/common/icon/icon_checkbox.jpg') no-repeat 0 0;}
.checkbox input:checked + label:after { background-position:0 -24px;}


/* selectbox */
.selectbox {display:inline-block; width:100%; height:36px; padding:0 30px 0 8px; border:1px solid #d5d5d5; font-size:14px; color:#666; outline:none; transition: all .3s ease;}
.selectbox {-webkit-border-radius:0px; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:#fff url(../images/common/icon/icon_selectbox.png) no-repeat right 10px center;}
.selectbox::-ms-expand {display:none;}
.selectbox:disabled {background-color:#eee; color:#b5b5b5;}
.selectbox:focus {border:1px solid #812990;}
/* hack */
@media all and (min-width:0\0) and (min-resolution:.001dpcm)
{
.selectbox {padding:0 0 0 8px; background:none;}
}

/* textarea */
.textarea {display:block; padding:10px; border:1px solid #d5d5d5; font-size:14px; color:#666; outline:0; transition: all .3s ease; resize:none;}
.textarea:focus {border:1px solid #812990;}
td .textarea {width:100%;}
.textarea + .byte {margin-top:13px;}

.byte {font-size:14px; color:#888;}


/* 버튼 */
.btnBox {text-align:center;}
.btnBox > .btn + .btn {margin-left:9px;}
.btn {display:inline-block;}
.btn.ty1 {position:relative; padding:0 20px;}
.btn.ty1:before {content:''; position:absolute; top:0; left:0; width:22px; height:100%; border-top-left-radius:90px; border-bottom-left-radius:90px; border:2px solid #454545; border-right:none; background:#fff;}
.btn.ty1:after {content:''; position:absolute; top:0; right:0; width:22px; height:100%; border-top-right-radius:90px; border-bottom-right-radius:90px; border:2px solid #454545; border-left:none; background:#fff;}
.btn.ty1 > span {display:block; padding:11px 1px 10px 1px; border:2px solid #454545; border-left:none; border-right:none; background:#fff;}
.btn.ty1 .btnTxt {position:relative; z-index:1; display:block; padding-left:24px; font-weight:400; font-size:16px; color:#252525; background:#fff url(../images/common/btn/bg_btn1.png) no-repeat left center;}
.btn.ty2 {width:200px; background:#353535; border-radius:2px; text-align:center;}
.btn.ty2 span {display:block; font-size:18px; color:#fff; line-height:50px;}
.btn.ty3 {position:relative; padding:0 9px;}
.btn.ty3:before {content:''; position:absolute; top:0; left:1px; width:11px; height:100%; border-top-left-radius:90px; border-bottom-left-radius:90px; border:1px solid #888; border-right:none; background:#fff;}
.btn.ty3:after {content:''; position:absolute; top:0; right:1px; width:11px; height:100%; border-top-right-radius:90px; border-bottom-right-radius:90px; border:1px solid #888; border-left:none; background:#fff;}
.btn.ty3 > span {position:relative; display:block; padding:0 10px 0 0; line-height:20px; border:1px solid #888; border-left:none; border-right:none; font-size:12px; color:#888; background:#fff;}
.btn.ty3 > span:after {content:''; position:absolute; top:50%; right:0; z-index:1; height:10px; margin-top:-5px; border-left:6px solid #812990; border-top:5px solid transparent; border-bottom:5px solid transparent;}
.btn.ty4 {padding:0 9px; font-size:14px; color:#666; border:1px solid #c5c5c5; border-radius:2px; line-height:24px;}
.btn.ty5 {padding:0 9px; font-size:16px; color:#fff; line-height:30px; background:#812990;}
.btn.ty6 {min-width:130px; background:#812990; padding:0 10px; line-height:36px; font-size:14px; color:#fefefe; vertical-align:middle; text-align:center;}
.btn.ty6 + .inputBox {margin-left:7px;}
.btn.ty7 {width:200px; background:#812990; border-radius:2px; text-align:center;}
.btn.ty7 span {display:block; font-size:18px; color:#fff; line-height:50px;}
.btn.ty8 {width:200px; background:#fff; border-radius:2px; text-align:center; border:1px solid #999;}
.btn.ty8 span {display:block; font-size:18px; color:#000; line-height:48px;}
.btn.ty9 {padding:0 10px; background:#555; line-height:26px; border-radius:2px; color:#fff;}

.tel {position:relative; display:inline-block; padding:0 20px;}
.tel:before {content:''; position:absolute; top:0; left:0; width:22px; height:100%; border-top-left-radius:90px; border-bottom-left-radius:90px; border:2px solid #454545; border-right:none; background:#fff;}
.tel:after {content:''; position:absolute; top:0; right:0; width:22px; height:100%; border-top-right-radius:90px; border-bottom-right-radius:90px; border:2px solid #454545; border-left:none; background:#fff;}
.tel > span {display:block; padding:11px 1px 10px 1px; border:2px solid #454545; border-left:none; border-right:none; background:#fff;}
.tel .btnTxt {position:relative; z-index:1; display:block; padding-left:24px; font-weight:400; font-size:18px; color:#222; background:#fff url(../images/common/icon/icon_tel.png) no-repeat left center;}

.btn.message {position:relative; padding:0 20px;}
.btn.message:before {content:''; position:absolute; top:0; left:0; width:22px; height:100%; border-top-left-radius:90px; border-bottom-left-radius:90px; background:#812990;}
.btn.message:after {content:''; position:absolute; top:0; right:0; width:22px; height:100%; border-top-right-radius:90px; border-bottom-right-radius:90px; background:#812990;}
.btn.message > span {display:block; padding:14px 1px 13px 1px; background:#812990;}
.btn.message .btnTxt {position:relative; z-index:1; display:block; padding-left:24px; font-weight:200; font-size:16px; color:#fff; background:#812990 url(../images/common/btn/bg_btn2.png) no-repeat left center;}

.btn.sch {padding:0 11px; background:#812990;}
.btn.sch > span {display:block; padding-left:22px; background:url(../images/common/icon/icon_sch.png) no-repeat left center; line-height:36px; font-size:16px; color:#fff;}

.layerClose {display:inline-block; width:36px; height:36px; text-indent:-999px; overflow:hidden; background:url(../images/common/btn/btn_layerClose.jpg) no-repeat;}

.viewMoreBtn {position:relative; display:inline-block; width:28px; height:28px; font-size:0; text-indent:-999px; overflow:hidden; border:1px solid #999;}
.viewMoreBtn:before {content:''; position:absolute; top:12px; left:6px; width:13px; border-bottom:1px solid #666;}
.viewMoreBtn:after {content:''; position:absolute; top:6px; left:12px; width:1px; border-bottom:13px solid #666;}


/* 탭 */
.tabWrap {width:1200px; margin:0 auto;}
.tabList {display:table; width:100%; table-layout:fixed;}
.tabList > li {position:relative; display:table-cell; border:1px solid #d5d5d5; border-bottom:none; background:#f5f5f5;}
.tabList > li:after {content:''; position:absolute; bottom:0; left:-1px; width:calc(100% + 2px); border-bottom:2px solid #812990;}
.tabList > li + li {border-left:none;}
.tabList > li > button {display:block; width:100%; height:48px; text-align:center;}
.tabList > li > button span {font-size:18px; color:#757575;}
.tabList > li.on {background:#fff; border:2px solid #812990; border-left:none; border-bottom:none;}
.tabList > li.on:after {content:''; position:absolute; top:-2px; left:-1px; width:2px; border-bottom:50px solid #812990;}
.tabList > li.on > button {height:48px;}
.tabList > li.on > button span {font-weight:400; color:#353535;}
.tabList > li:first-child:after {content:''; position:absolute; bottom:0; left:-1px; width:calc(100% + 1px); border-bottom:2px solid #812990;}
.tabList > li.on:first-child:after {content:''; position:absolute; top:-2px; left:0; width:2px; border-bottom:50px solid #812990;}

.tabWrap .tabContent {display:none;}
.tabWrap .tabContent.on {display:block;}

.itemWrap {}
.itemSelect {text-align:center;}
.itemSelect > li {position:relative; display:inline-block; margin:0 25px;}
.itemSelect > li + li {padding-left:1px;}
.itemSelect > li + li:after {content:''; position:absolute; top:4px; left:-26px; width:1px; border-bottom:16px solid #666;}
.itemSelect > li > button {}
.itemSelect > li > button span {display:block; font-size:18px;}
.itemSelect > li.on > button span {font-weight:normal; color:#812990;}
.itemSelect + .itemContWrap {margin-top:25px;}
.itemCont {display:none;}
.itemCont.on {display:block;}


/* 리스트 */
.list1 {}
.list1 > li {position:relative; padding-left:15px; font-size:16px; color:#454545;}
.list1 > li:before {content:''; position:absolute; top:8px; left:0; width:3px; height:3px; background:#000;}
.list1 > li + li {margin-top:13px;}

.list2 {}
.list2 > li {position:relative; padding-left:14px; font-size:16px; color:#666; text-align:left;}
.list2 > li:before {content:''; position:absolute; top:10px; left:0; width:6px; border-bottom:1px solid #c5c5c5;}
.list2 > li + li {margin-top:13px;}

.list3 {}
.list3 li {padding-left:17px; background:url(../images/common/icon/icon_star1.png) no-repeat left 5px; font-size:16px; color:#888;}
.list3 li + li {margin-top:11px;}
.list3 li .btn {vertical-align:middle;}
.list3 + .table {margin-top:14px;}
.list3 + .infoWrap {margin-top:64px;}

.exList {}
.exList > .title {}
.exList > .title .ex {display:inline-block; padding-right:14px; font-size:16px; color:#454545; background:url(../images/common/icon/icon_next.png) no-repeat right center;}
.exList > .title .txt {display:block; padding-top:13px; font-weight:normal; font-size:18px; color:#252525;}
.exList > dd > .list1 {margin-top:14px;}


/* 테이블 */
.table {}
.table table {width:100%;}
.table.ty1 {}
.table.ty1 th {text-align:center; background:#dee0ed; font-weight:400; font-size:15px; color:#555; border:1px solid #dee0ed}
.table.ty1 td {padding:13px 0 14px 0; text-align:center; border:1px solid #dee0ed; font-weight:normal; font-size:18px; color:#454545;}

.table.ty2 {border-top:2px solid #353535;}
.table.ty2 thead th {padding:25px 0 26px 0; text-align:center; font-weight:normal; font-size:16px; color:#454545; border:1px solid #c5c5c5; border-top:none; border-right:none;}
.table.ty2 tbody td {padding:25px 0 26px 0; text-align:center; border:1px solid #c5c5c5; border-right:none; font-size:16px;}
.table.ty2 tbody td.etc {padding:25px 32px 26px 32px;}
.table.ty2 thead tr th:first-child, .table.ty2 tbody tr td:first-child {border-left:none;}

.table.ty3 {border-top:2px solid #353535;}
.table.ty3 thead th {padding:17px 0 20px 0; text-align:center; font-weight:normal; font-size:16px; color:#454545; border:1px solid #c5c5c5; border-top:none; border-right:none; background:#f8f8f8;}
.table.ty3 tbody td {padding:20px 5px 20px 5px; text-align:center; border:1px solid #c5c5c5; border-right:none; font-size:16px;}
.table.ty3 tbody td.other {font-size:15px;}
.table.ty3 tbody td.other.color1 {font-weight:400;}
.table.ty3 thead tr th:first-child, .table.ty3 tbody tr td:first-child {border-left:none;}

.table.ty4 {border-top:2px solid #353535;}
.table.ty4 table {width:100%;}
.table.ty4 table tbody th {padding:0 10px 0 80px; background:#f8f8f8; border-bottom:1px solid #e6e6e6; text-align:left; font-weight:400; font-size:16px; color:#454545;}
.table.ty4 table tbody th label {font-weight:400; font-size:16px; color:#454545; cursor:pointer;}
.table.ty4 table tbody td {padding:14px 20px; border-bottom:1px solid #e6e6e6; font-size:14px; color:#666;}
.table.ty4 table tbody td .inputBox {width:360px; color:#666;}

.table.ty4 table tbody td .telGroup {display:inline-block; vertical-align:middle;}
.table.ty4 table tbody td .telGroup .inputBox {width:130px;}
.table.ty4 table tbody td .telGroup .inputBox + .inputBox {width:220px; margin-left:7px;}
.table.ty4 table tbody td .telGroup .selectbox + .inputBox {width:220px; margin-left:7px;}
.table.ty4 table tbody td .telGroup + .mark1 {margin-left:6px;}

.table.ty4 table tbody td .carGroup .txt {display:inline-block; font-weight:200; font-size:16px; color:#666; line-height:36px; vertical-align:middle;}
.table.ty4 table tbody td .carGroup .txt + .inputBox {margin-left:4px; vertical-align:middle;}
.table.ty4 table tbody td .carGroup .inputBox {width:160px;}
.table.ty4 table tbody td .carGroup .inputBox + .txt {margin-left:17px;}
.table.ty4 + .chk {margin-top:20px;}

.table table tbody td .inputBox {vertical-align:middle;}
.table table tbody td .inputBox.picker {width:180px;}
.table table tbody td .inputBox.picker .inp {background:url(../images/common/icon/icon_datepicker.png) no-repeat right 10px center;}
.table table tbody td .inputBox.picker + .mark1 {margin-left:6px;}

.orderInfo {display:inline-block; margin-left:20px; font-size:0; vertical-align:middle;}
.orderInfo .txt {font-weight:400; font-size:16px; color:#666;}
.orderInfo .txt > .date {display:block; padding-top:3px; font-weight:400; font-size:16px; color:#666;}
.orderInfo .txt + .btnBox {margin-top:10px;}
.orderNum {}
.orderNum > a {display:inline-block; font-size:16px; color:#b6985a; border-bottom:1px solid #b6985a;}

.table + .subTitle {margin-top:76px;}
.table.ty2 + .box1 {margin-top:30px;}
.table.ty3 + .list3 {margin-top:17px;}


.box1 {background:#e7e2f2;}
.box1 > .exList {padding:20px 20px 20px 37px;}


.infoWrap {}
.infoWrap + .infoWrap {margin-top:66px;}
.infoWrap > .title {font-weight:normal; font-size:22px; color:#333;}
.infoWrap > .title + .list3 {margin-top:13px;}

.infoWrap + .btnBox {margin-top:95px;}


/* pagenation */
.itemtList1 + .pagenation {margin-top:80px;}
.pagenation {text-align:center; font-size:0;}
.pagenation > a {display:inline-block; margin:0 4px; border:1px solid #e5e5e5; min-width:34px; line-height:32px; vertical-align:middle; text-align:center; color:#666;}
.pagenation > a.on {border:none; line-height:34px; background:#666; color:#fff;}
.pagenation > a:hover:not(.pb) {border:none; line-height:34px; background:#666; color:#fff;}
.pagenation > .pb {text-indent:-999px; overflow:hidden; width:34px; height:34px; background:url(../images/common/btn/btn_pagenation.png) no-repeat left top;}
.pagenation > .first {background-position:0 0;}
.pagenation > .prev {background-position:0 -42px;}
.pagenation > .next {background-position:0 -84px;}
.pagenation > .last {background-position:0 -126px;}


 /* ==============================
 * content
 * ============================== */
/* 맴버십 */
.affiliateCards {padding-top:100px; text-align:center;}
.affiliateCards .inner {position:relative; display:inline-block; padding-right:405px; min-height:214px;}
.affiliateCards .inner .cardImg {position:absolute; top:0; right:0; width:340px; height:214px;}
.affiliateCards .inner .cardImg img {display:block;}
.affiliateCards .inner .txt {padding-top:12px; font-size:32px; color:#252525;}
.affiliateCards .inner .txt strong {font-size:32px; font-weight:normal;}
.affiliateCards .inner .txt span {display:block; padding-top:43px; font-size:16px; color:#888;}
.affiliateCards .inner .txt + .btnBox {padding-top:28px;}

.affiliateCards + .table {margin-top:115px;}


/* 이벤트 페이지 */
.contTitle {padding:45px 150px 0 0;}
.contTitle > .txt {font-size:20px; color:#454545;}
.contTitle + .itemtList1 {margin-top:30px;}
.contTitle + .table.ty3 {margin-top:18px;}
.contTitle + .apply {text-align:right; margin-top:-30px;}
.contTitle + .apply + .table.ty3 {margin-top:18px;}
.contTitle + .infoWrap {margin-top:55px;}

.itemtList1 {overflow:hidden;}
.itemtList1 > li {position:relative; float:left; width:364px; margin-top:50px; border:1px solid #c5c5c5;}
.itemtList1 > li:hover {border:1px solid #812990;}
.itemtList1 > li + li {margin-left:54px;}
.itemtList1 > li:nth-child(3n + 4) {margin-left:0;}
.itemtList1 > li:nth-child(-n + 3) {margin-top:0;}
.itemtList1 > li > a {display:block;}
.itemtList1 > li .thumb {height:259px; overflow:hidden;}
.itemtList1 > li .thumb img {width:100%; max-width:100%; max-height:100%; transition: 0.45s;}
.itemtList1 > li .thumb img:hover {transform: scale(1.06);}
.itemtList1 > li .inner {padding:20px 24px 18px 24px; border-top:1px solid #c5c5c5;}
.itemtList1 > li .inner .desc {height:48px; font-size:18px; color:#454545; line-height:24px; overflow:hidden;}
.itemtList1 > li .inner .date {height:24px; margin-top:20px; padding-left:22px; background:url(../images/common/icon/icon_calendar.png) no-repeat left 3px;}
.itemtList1 > li .inner .date > em {display:inline-block; font-size:14px; color:#777; line-height:22px;}

.itemtList1 li:nth-child(1),
.itemtList1 li:nth-child(3n + 1) { animation-delay: 0s;}
.itemtList1 li:nth-child(2),
.itemtList1 li:nth-child(3n + 2) { animation-delay: 0.2s;}
.itemtList1 li:nth-child(3),
.itemtList1 li:nth-child(3n + 3) { animation-delay: 0.4s;}

/* 당첨자 발표 */
.announce {display:inline-block; margin-left:12px; padding:0 10px; background:#812990; font-size:0; border-radius:2px;}
.announce > span {position:relative; display:block; padding-right:12px; font-size:12px; color:#fff; line-height:22px;}
.announce > span:after {content:''; position:absolute; top:50%; right:0; margin-top:-5px; width:6px; height:10px; border-left:6px solid #fff; border-top:5px solid transparent; border-bottom:5px solid transparent;}

/* 이벤트 상세 */
.detailPage {margin-top:45px;}
.detailPage > .title {position:relative; padding:22px 235px 22px 25px; background:#f5f5f5; border-top:3px solid #353535; border-bottom:1px solid #353535;}
.detailPage > .title .txt {height:22px; font-size:18px; color:#454545; line-height:22px;}
.detailPage > .title .date {position:absolute; top:23px; right:25px; padding-left:22px; font-size:16px; background:url(../images/common/icon/icon_calendar2.png) 
no-repeat left center;}
.detailPage > .detailContent {padding:40px 20px 70px 20px; text-align:center;}
.detailPage > .detailContent img {max-width:100%;}
.detailPage > .detailNav {border-top:1px solid #c5c5c5; border-bottom:1px solid #c5c5c5;}
.detailPage > .detailNav li {}
.detailPage > .detailNav li + li {border-top:1px solid #c5c5c5;}
.detailPage > .detailNav li > a {display:table; table-layout:fixed; width:100%; font-size:0;}
.detailPage > .detailNav li > a em {display:table-cell; vertical-align:middle; width:180px; background:#e5e5e5; text-align:center;}
.detailPage > .detailNav li > a em span {position:relative; display:inline-block; padding-right:80px; font-size:18px; color:#454545;}
.detailPage > .detailNav li > a .prev span:before {content:''; position:absolute; top:6px; right:0; width:18px; height:10px; border-bottom:10px solid #666; border-left:9px solid transparent; border-right:9px solid transparent;}
.detailPage > .detailNav li > a .prev span:after {content:''; position:absolute; top:8px; right:0; width:18px; height:10px; border-bottom:10px solid #e5e5e5; border-left:9px solid transparent; border-right:9px solid transparent;}
.detailPage > .detailNav li > a .next span:before {content:''; position:absolute; top:6px; right:0; width:18px; height:10px; border-top:10px solid #666; border-left:9px solid transparent; border-right:9px solid transparent;}
.detailPage > .detailNav li > a .next span:after {content:''; position:absolute; top:4px; right:0; width:18px; height:10px; border-top:10px solid #e5e5e5; border-left:9px solid transparent; border-right:9px solid transparent;}
.detailPage > .detailNav li > a .listTxt {display:table-cell; vertical-align:middle; height:60px; padding:0 35px; font-size:18px; color:#454545;}
.detailPage + .btnBox {margin-top:65px;}


/* slider 1 */
.slider1 {margin:0 -16px;}
.slider1 .item {margin:0 16px; border:1px solid #999;}
.slider1 .item:hover {border:1px solid #812990;}
.slider1 .item > a {display:block; background:#fff;}
.slider1 .item .thumb {text-align:center; display:table; width:100%; height:262px;}
.slider1 .item .thumb .imgDiv {display:table-cell; vertical-align:middle;}
.slider1 .item .thumb .imgDiv > img {max-width:100%; max-height:100%; transition: 0.45s;}
.slider1 .item .thumb .imgDiv > img:hover {transform: scale(1.06);}
.slider1 .slick-prev {position:absolute; top:180px; left:-23px; width:25px; height:47px; background:url(../images/common/btn/btn_arrow.png) no-repeat 0 0; text-indent:-999px; overflow:hidden;}
.slider1 .slick-next {position:absolute; top:180px; right:-23px; width:25px; height:47px; background:url(../images/common/btn/btn_arrow.png) no-repeat 0 -47px; text-indent:-999px; overflow:hidden;}
.slider1:before {content:''; position:absolute; top:0; left:0; z-index:1; width:16px; height:100%; background:#fff;}
.slider1:after {content:''; position:absolute; top:0; right:0; z-index:11; width:16px; height:100%; background:#fff;}

.slider1 .item .inner {padding:0 20px 19px 20px;}
.slider1 .item .inner .mark {font-size:0;}
.slider1 .item .inner .mark span {display:inline-block; width:36px; line-height:14px; font-size:11px; color:#fff; border-radius:2px; text-align:center;}
.slider1 .item .inner .mark span.car {background:#6a2276;}
.slider1 .item .inner .mark span.suv {background:#c3244e;}
.slider1 .item .inner .mark + .type {margin-top:10px;}
.slider1 .item .inner .type {font-size:0;}
.slider1 .item .inner .type span {display:inline-block; width:50px; text-align:center; line-height:16px; font-size:11px; color:#666; border-radius:2px; border:1px solid #888;}
.slider1 .item .inner .type span + span {margin-left:3px;}
.slider1 .item .inner .desc {margin-top:13px;}
.slider1 .item .inner .desc dt {font-weight:bold; font-size:20px; color:#222;}
.slider1 .item .inner .desc dt + dd {margin-top:4px;}
.slider1 .item .inner .desc dd {font-size:14px; color:#666; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}




/* etc */
.disabledBox {display:inline-block; width:60px; height:20px; border:1px solid #d5d5d5; background:#eee; overflow:hidden; text-indent:-999px; vertical-align:middle;}
.mark1 {position:relative; display:inline-block; padding-left:16px;}
.mark1:before {content:'※'; position:absolute; top:0; left:0;}
.mark1 > strong {font-weight:400; color:#000;}
p.mark1 {display:block;}

.dimmed {position:absolute; top:0; right:0; bottom:0; left:0; z-index:50; background:#4c4c4c; opacity:0.7;}


/* popup */
.layerPopupWrap {visibility:hidden; overflow-y:auto; position:fixed; top:0; left:0; width:100%; height:100%; z-index:50; opacity:0; transition:all .2s ease; text-align:center;}
.layerPopupWrap:before {content:''; display:inline-block; height:100%; vertical-align:middle; text-align:center;}
.layerPopupWrap.on {visibility:visible; opacity:1;}
.layerPopupWrap > .bg {position:fixed; top:0; right:0; width:100%; height:100%; background:rgba(0,0,0,0.8);}
.layerPopupWrap .layerPopCont {position:relative; display:inline-block; vertical-align:middle; opacity:0; width:1000px; padding:36px 40px 32px 40px; background:#fff; border:1px solid #c5c5c5;  transition:transform .4s ease .2s; text-align:left;}
.layerPopupWrap .layerPopCont {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.35);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.35);
	box-shadow: 0 1px 2px rgba(0,0,0,.35);
}
.layerPopupWrap.on .layerPopCont {opacity:1;}
.layerPopupWrap .layerPopCont .layerClose {position:absolute; top:23px; right:40px;}
.layerPopupWrap .popupTitle {font-weight:normal; font-size:26px; color:#222;}

.popSearch {position:relative; margin-top:14px; padding:14px 10px; border-top:2px solid #353535; border-bottom:1px solid #c5c5c5;}
.popSearch .selectArea {}
.popSearch .selectArea .selectbox + .selectbox {margin-left:7px;}
.popSearch .keyword {position:absolute; top:14px; right:10px;}
.popSearch + .list3 {padding:30px 0 10px 0; border-bottom:2px solid #353535;}
.viewCont {position:relative;}
.viewCont .rstTxt {position:absolute; top:-42px;; right:0; font-size:14px; color:#888;}
.viewCont .rstTxt > .num {font-weight:normal; font-size:16px; color:#812990;}
.viewCont > .mapArea {margin-top:8px;}

.storeTable {border-bottom:1px solid #c5c5c5;}
.storeTable > table {width:100%;}
.storeTable > table tr td {position:relative; height:143px; padding:10px 14px; border-bottom:1px solid #c5c5c5; border-right:1px solid #c5c5c5; vertical-align:top;}
.storeTable > table tr td:nth-child(2) {border-right:none;}
.storeTable > table tr:last-child td {border-bottom:none;}
.storeTable > table tr td .btnGroup {position:absolute; bottom:19px; right:16px;}
.storeTable > table tr td .btnGroup > a {display:block; text-align:center;}
.storeTable > table tr td .btnGroup > a + a {margin-top:4px;}
.storeTable + .pagenation {margin-top:40px;}

.storeInfo {}
.storeInfo > dt {font-weight:normal; font-size:16px; color:#454545;}
.storeInfo > dd {padding-top:10px;}
.storeInfo > dd .storeAddress {margin-bottom:22px; font-size:14px; color:#888;}
.iconGroup {display:inline-block; overflow:hidden; vertical-align:middle; font-size:0;}
.serviceIcon {position:relative; display:inline-block; min-width:30px; padding-top:35px; font-size:10px; color:#666; text-align:center;}
.serviceIcon + .serviceIcon {margin-left:10px;}
.serviceIcon + .serviceIcon.ty4 {margin-left:7px;}
.serviceIcon.ty4 + .serviceIcon {margin-left:6px;}
/*
.iconGroup > .serviceIcon:after {content:''; position:absolute; top:0; left:50%; margin-left:-15px; width:30px; height:30px; background:url(../images/board/bg_icongroup.png) no-repeat 0 0;}
.iconGroup > .serviceIcon.ty1:after {background-position:0 0;}
.iconGroup > .serviceIcon.ty2:after {background-position:0 -30px;}
.iconGroup > .serviceIcon.ty3:after {background-position:0 -60px;}
.iconGroup > .serviceIcon.ty4:after {background-position:0 -90px;}
.iconGroup > .serviceIcon.ty5:after {background-position:0 -120px;}
.iconGroup > .serviceIcon.ty6:after {background-position:0 -150px;}
*/

.serviceIcon:after {content:''; position:absolute; top:0; left:50%; margin-left:-15px; width:30px; height:30px; background:url(../images/board/bg_icongroup.png) no-repeat 0 0;}
.serviceIcon.ty1:after {background-position:0 0;}
.serviceIcon.ty2:after {background-position:0 -30px;}
.serviceIcon.ty3:after {background-position:0 -60px;}
.serviceIcon.ty4:after {background-position:0 -90px;}
.serviceIcon.ty5:after {background-position:0 -120px;}
.serviceIcon.ty6:after {background-position:0 -150px;}

.keyword {}
.keyword .inputBox {width:300px; float:left;}
.keyword .inputBox .inp {border:1px solid #fff; border-bottom:1px solid #d5d5d5;}
.keyword .btn {float:left;}

/* datepicker */
.ui-datepicker-current {display:none;}